<div 
    x-data="navigation" 
    class="fixed top-0 left-0 w-full z-50 border-b border-primary-600 bg-neutral lg:backdrop-blur-sm"
    :class="openNavigation && 'backdrop-blur-sm'"
>
     <div class="flex items-center px-5 lg:px-7.5 xl:px-10 max-lg:py-4">
        <a class="block w-[12rem] xl:mr-8" href="#hero">
            {{ with .Site.Params.header.logo.src }}
                {{ $logoRes := resources.Get . }}
                {{ if $logoRes }}
                    {{ if strings.HasSuffix . ".html" }}
                        {{ $logoRes = $logoRes | resources.ExecuteAsTemplate "logo-generated.html" $ }}
                        {{ $logoRes.Content | safeHTML }}
                    {{ else}}
                        <img src="{{ $logoRes.RelPermalink }}" width="190" height="40" alt="">
                    {{ end }}
                {{ else }}
                    <img src="{{ . | relURL }}" width="190" height="40" alt="{{ site.Params.alt}}">
                {{ end }}
            {{ else }}
                <span class="text-xl font-semibold text-neutral">{{ .Site.Title }}</span>
            {{ end }}
        </a>

        {{/*  {{ partial "ui/dropdown.html" (dict 
            "label" "Filter"
            "variant" "default"
            "decoration" "trophy.png"
            "backdrop" "true"
            "items" (slice 
                (dict "label" "Kategori")
                (dict "name" "Elektronik" "url" "?cat=elektronik")
                (dict "name" "Fashion" "url" "?cat=fashion")
                (dict "separator" true)
                (dict "name" "Reset" "url" "?reset=true")
            )
        ) }}  */}}
     </div>
</div>