{{ $id := delimit (slice "header-component" (now.UnixNano)) "-" }}

<div id="{{ $id }}">
    <script id="data-{{ $id }}" type="application/json">
        {{ dict 
            "Menus" .Site.Menus.main 
            "Params" .Site.Params
            | jsonify | safeJS 
        }}
    </script>
    
    <script>
        window.requestIslands = window.requestIslands || [];
        window.requestIslands.push({
            component: "BrainwaveHeader",
            targetId: "{{ $id }}",
            dataId: "data-{{ $id }}"
        });
    </script>
</div>