{{ $variant := .variant | default "default" }}

{{ $align := .align | default "left" }}
{{ $width := .width | default "w-56" }}
{{ $origin := cond (eq $align "left") "origin-top-left" "origin-top-right" }}
{{ $position := cond (eq $align "left") "left-0" "right-0" }}

{{ $defaultClass := printf "absolute %s z-50 mt-2 %s %s rounded-xl bg-netral-50 shadow-xl border border-netral-200 ring-1 ring-black ring-opacity-5 focus:outline-none" $position $width $origin }}

{{ $collapseClass := "grid transition-[grid-template-rows] duration-300 ease-out"}}

<div
    x-ref="content"
    x-show="isOpen"
    :class="isCollapse ? '{{ $collapseClass }}' : '{{ $defaultClass }}'"
    :style="isCollapse && isOpen ? 'grid-rows-[1fr]' : 'grid-rows-[0fr]'"
    x-transition:enter="transition ease-out duration-100"
    x-transition:enter-start="opacity-0 scale-95"
    x-transition:enter-end="opacity-100 scale-100"
    x-transition:leave="transition ease-in duration-75"
    x-transition:leave-start="opacity-100 scale-100"
    x-transition:leave-end="opacity-0 scale-95"
    style="display: none;"
    role="menu"
    aria-orientation="vertical"
    tabindex="-1"
>
    <div :class="isCollapse ? 'overflow-hidden' : 'py-1'">
        <div :class="isCollapse && 'py-2 px-1 border-x border-b border-netral-200 dark:border-netral-100 rounded-b-xl bg-netral-50/50'">
            {{ with .children }}{{ . | safeHTML}}{{ end }}
            {{ with .items }}
                {{ range . }}{{ partial "ui/dropdown/item.html" . }}{{ end }}
            {{ end }}
        </div>
    </div>
</div>
