<!DOCTYPE html>
<html
    lang="{{ or site.Language.LanguageCode site.Language.Lang }}" 
    data-theme="{{ .Site.Params.style.theme | default "brainwave" }}"
    x-data="themeToggle"
    x-cloak
>
{{- partial "structure/head.html" . -}}
<body>
    {{ partial "structure/svg/definition.html" . }}

    {{/*  Navigation  */}}
    <div class="pt-[4.75rem] lg:pt-[5.25rem] overflow-hidden">
        {{ $header := print "structure/header/" .Site.Params.header.layout ".html"}}
        {{ if templates.Exists (printf "partials/%s" $header ) }}
            {{ partial $header . }}
        {{ else }}
            {{ partial "structure/header/basic.html" . }}
        {{ end }}
    </div>

    {{/*  Main Content  */}}
    <main>
        {{ block "main" . }}{{ end }}
    </main>
</body>
</html>