<!DOCTYPE html>
<html 
    lang="{{ or site.Language.LanguageCode site.Language.Lang }}" 
    class="scroll-smooth" 
    data-theme="{{ .Site.Params.style.theme_variant | default "brainwave" }}"
>
{{- partial "structure/head.html" . -}}

<body>
    {{ if not .Params.header.show }}
        {{ $variant := .Site.Params.header.variant | default "hotodus" }}
        {{ $headerPath := printf "components/header/%s.html" $variant }}
        
        {{ if templates.Exists (printf "partials/%s" $headerPath ) }}
            {{ partial $headerPath . }}
        {{ else }}
            {{ partial "components/header/hotodus.html" . }}
        {{ end }}
    {{ end }}

    <main class="relative z-10"> 
        {{ block "main" . }}{{ end }}
        {{/*  <pre>
            =========================
            {{ debug.Dump .Params }}
            =========================
            {{ debug.Dump .Site.Params }}
        </pre>  */}}
    </main>

    {{ if not .Params.footer.show }} 
        {{ partial "components/footer.html" . }}
    {{ end }}
</body>
</html>