{{ $data := .Site.Menus.main }}

<!DOCTYPE html>
<html 
    lang="{{ or site.Language.LanguageCode site.Language.Lang }}" 
    class="scroll-smooth" 
    data-theme="{{ .Site.Params.style.theme_variant | default "brainwave" }}"
>
{{- partial "structure/head.html" . -}}

<body>
    {{/* Header */}}        
    {{ $variant := .Site.Params.header.variant | default "basic" }}
    {{ $headerPath := printf "structure/header/%s.html" $variant }}
    
    {{ if templates.Exists (printf "partials/%s" $headerPath ) }}
        {{ partial $headerPath . }}
    {{ else }}
        {{/* Fallback jika layout yang diminta tidak ada */}}
        {{ partial "structure/header/basic.html" . }}
    {{ end }}

    {{/* Main Content */}}
    <main class="relative z-0"> 
        {{/* z-0 agar konten tidak menutupi dropdown menu (yang biasanya z-10/z-50) */}}
        {{ block "main" . }}{{ end }}
    </main>
</body>
</html>