{{ $uniqueID := now.UnixNano }}{{ $targetId := printf "island-%d" $uniqueID }}{{ $dataId := printf "data-%d" $uniqueID }}
<div id="{{ $targetId }}"></div>

<script id="{{ $dataId }}" type="application/json">
    {{/* Tambahkan .Page.Params ke dalam Dictionary */}}
    {{ dict "Params" .Site.Params "Page" .Page.Params "Menus" .Site.Menus.main "Data" .Site.Data | jsonify | safeJS }}
</script>

<script>
    (function() {
        window.requestIslands = window.requestIslands || [];
        window.requestIslands.push({
            component: "wbs",
            targetId: "{{ $targetId }}",
            dataId: "{{ $dataId }}"
        });
    })();
</script>