{{/* Params:
    - class: string (Additional classes)
    - size: "sm" | "md" | "lg" | "xl" | "full" (default: theme container)
*/}}
{{ $class := .Get "class" }}
{{ $size := .Get "size" | default "default" }}

{{/* Tentukan Max Width berdasarkan size */}}
{{ $widthClass := "container" }} {{/* Mengambil class .container dari main.css */}}

{{ if eq $size "sm" }}{{ $widthClass = "max-w-3xl mx-auto px-4" }}
{{ else if eq $size "full" }}{{ $widthClass = "w-full px-4" }}
{{ end }}

<div class="{{ $widthClass }} {{ $class }}">
    {{ .Inner }}
</div>