{{/* Params:
    - direction: "row" | "col" (default: col)
    - align: "start" | "center" | "end" | "between"
    - gap: string
    - class: string
*/}}
{{ $dir := .Get "direction" | default "col" }}
{{ $align := .Get "align" | default "start" }}
{{ $gap := .Get "gap" | default "4" }}
{{ $class := .Get "class" }}

{{/* Logic Flex Direction */}}
{{ $flexDir := cond (eq $dir "row") "flex-row" "flex-col" }}

{{/* Logic Alignment */}}
{{ $itemsAlign := "" }}
{{ if eq $dir "row" }}
    {{ if eq $align "center" }}{{ $itemsAlign = "items-center" }}
    {{ else if eq $align "start" }}{{ $itemsAlign = "items-start" }}
    {{ else if eq $align "between" }}{{ $itemsAlign = "justify-between items-center" }}
    {{ end }}
{{ else }}
    {{ if eq $align "center" }}{{ $itemsAlign = "items-center" }}
    {{ end }}
{{ end }}

<div class="flex {{ $flexDir }} {{ $itemsAlign }} gap-{{ $gap }} {{ $class }}">
    {{ .Inner }}
</div>