{{/* Jalankan inner agar anak-anak melapor */}}
{{ $children := trim .Inner "\n\r " }}

{{ partial "ui/dropdown.html" (dict 
    "hover"   (.Get "hover" | default "false")
    "label"   (.Get "label")
    "preIcon" (.Get "preIcon")
    "icon"    (.Get "icon")
    "variant" (.Get "variant")
    "align"   (.Get "align")
    "width"   (.Get "width")
    "class"   (.Get "class")
    "items"   (.Get "items")
    "backdrop" (.Get "backdrop")
    "decoration" (.Get "decoration")
    "children" $children
) }}