{{ $buttonGradient := resources.Get "html/button-gradient.html" }}
{{ with $buttonGradient }}
    {{ $targetName := "svg/button-gradient-generated.html" }}
    {{ $buttonGradient = . | resources.ExecuteAsTemplate $targetName dict }}
    {{ $buttonGradient.Content | safeHTML }}
{{ end }}

{{ $themesIcons := resources.Get "html/icons.html" }}
{{ with $themesIcons }}
    {{ $targetName := "svg/themes-icons-generated.html" }}
    {{ $themesIcons = . | resources.ExecuteAsTemplate $targetName dict }}
    {{ $themesIcons.Content | safeHTML }}
{{ end }}
