{{ if .separator }}
    <div class="border-t border-neutral-200 dark:border-neutral-100 my-1"></div>

{{ else if .label}}
    <div class="px-4 py-2 text-xs font-grotesk font-bold text-neutral-500 uppercase tracking-widest">
        {{ .label}}
    </div>

{{ else }}
    <a 
        href="{{ .url | default "#" }}" 
        class="group flex items-center px-4 py-2 text-sm font-code text-neutral-600 hover:bg-primary-500 hover:text-white transition-colors cursor-pointer outline-none focus:bg-primary-500 focus:text-white rounded-md {{ .class }}"
        role="menuitem"
        tabindex="-1"
        @click="close()"
    >
        {{/* Icon Kiri */}}
        {{ if .icon }}
            <span class="mr-3 text-neutral-400 group-hover:text-white group-focus:text-white transition-colors">
                {{ .icon | safeHTML }}
            </span>
        {{ end }}

        <span class="flex-grow">{{ .name }}</span>

        {{/* Shortcut Kanan */}}
        {{ if .shortcut }}
            <span class="ml-auto text-xs text-neutral-400 group-hover:text-white/70 group-focus:text-white/70 pl-2 tracking-widest">
                {{ .shortcut }}
            </span>
        {{ end }}
    </a>
{{ end }}