<button
    x-ref="trigger"
    {{ with .hover }}@mouseover="toggle()"{{else}}@click="toggle()"{{ end }}
    type="button"
    class="
            inline-flex items-center px-4 py-2 text-sm font-code font-medium transition-all duration-200 focus:outline-none focus:ring-2 focus:ring-primary-500 w-full border
            {{ .class }}
        "
    :class="isCollapse 
        ? 'justify-between bg-transparent border-transparent hover:border-neutral-700 rounded-lg' 
        : 'justify-center md:w-auto bg-neutral-50 border-neutral-100 shadow-sm hover:shadow-md rounded-lg hover:bg-neutral-100 hover:border-primary-500'"
    :aria-expanded="isOpen"
    aria-haspopup="true"
>
    {{ .label | default "Menu" }}

    {{ if .icon }}          
        {{ .icon | safeHTML }}
    {{ else }}
        <svg 
            class="-mr-1 ml-2 h-5 w-5 transition-transform duration-200" 
            :class="isOpen ? 'rotate-180' : ''"
            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true"
        >
            <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd" />
        </svg>
    {{ end }}
</button>