{{/* Params
    - header: string | map (Content/header card)
    - content: string | map (Content utama card)
    - footer: string | map (Content/footer card)
    - class: string (Tailwind override untuk card utama)
*/}}

<div
    data-slot="card-title"
    class="bg-transparent text-primary-foreground flex flex-col gap-6 rounded-xl border py-6 shadow-sm {{ .class }}"
>
    {{ with .header }}
        {{ $isMap := reflect.IsMap . }}
        {{ $customClass := "" }}
        {{ if $isMap }}{{ $customClass = .class }}{{ end }}
        <div 
            data-slot="card-header"
            class="@container/card-header grid auto-rows-min grid-rows-[auto_auto] items-start gap-2 px-6 has-data-[slot=card-action]:grid-cols-[1fr_auto] [.border-b]:pb-6 {{ $customClass }}"
        >
            {{ if $isMap }}
                {{ partial "ui/card-slot.html" . }}
            {{ else }}
                {{ . | safeHTML }}
            {{ end }} 
        </div>  
    {{ end }}

    {{ with .content}}
        {{ $isMap := reflect.IsMap . }}
        {{ $customClass := "" }}
        {{ if $isMap }}{{ $customClass = .class }}{{ end }}
        <div 
            data-slot="card-content"
            class="px-6 {{ $customClass }}"
        >
           {{ if $isMap }}
                {{/* Jika Map, kita asumsikan isinya ada di key 'children' atau 'content' */}}
                {{ .children | default .content | safeHTML }}
            {{ else }}
                {{ . | safeHTML }}
            {{ end }}
        </div>
    {{ end }}


    {{ with .footer }}
        {{ $isMap := reflect.IsMap . }}
        {{ $customClass := "" }}
        {{ if $isMap }}{{ $customClass = .class }}{{ end }}
        <div 
            data-slot="card-footer"
            class="flex items-center px-6 [.border-t]:pt-6 {{ $customClass }}"
        >
            {{ if $isMap }}
                {{ .children | default .content | safeHTML }}
            {{ else }}
                {{ . | safeHTML }}
            {{ end }}
        </div>
    {{ end }}

    {{/* --- DIRECT CHILDREN (Fallback) --- */}}
    {{ .children | safeHTML }}
</div>