{{/* Params: separator(bool), label(string), name(string), url(string), icon(html), shortcut(string), class(string) */}}
{{ if .separator }}
    <div class="border-t border-netral-200 dark:border-netral-100 my-1"></div>

{{ else if .label}}
    <div class="px-4 py-2 text-xs font-grotesk font-bold text-netral-500 uppercase tracking-widest">
        {{ .label}}
    </div>

{{ else }}
    <a 
        href="{{ .url | default "#" }}" 
        class="group flex items-center px-4 py-2 text-sm font-mono text-netral-900 hover:bg-primary-500 hover:text-white transition-colors cursor-pointer outline-none focus:bg-primary-500 focus:text-white rounded-md {{ .class }}"
        role="menuitem"
        tabindex="-1"
        @click="close()"
    >
        {{/* Icon Kiri */}}
        {{ with .icon }}
            <span class="mr-3 text-netral-400 group-hover:text-white group-focus:text-white transition-colors">
                {{ . | safeHTML }}
            </span>
        {{ end }}

        <span class="flex-grow">{{ .name }}</span>

        {{/* Shortcut Kanan */}}
        {{ with .shortcut }}
            <span class="ml-auto text-xs text-netral-400 group-hover:text-white/70 group-focus:text-white/70 pl-2 tracking-widest">
                {{ . }}
            </span>
        {{ end }}
    </a>
{{ end }}