{{ $orientation := .orientation | default "horizontal" }}
{{ $decorative := eq (string (.decorative | default "false")) "true" }}
{{ $role := cond $decorative "none" "separator" }}

<div 
    data-slot="separator"
    data-orientation="{{ $orientation }}"
    role="{{ $role }}"
    {{ if not $decorative }}aria-orientation="{{ $orientation }}"{{ end }}
    class="bg-primary shrink-0 data-[orientation=horizontal]:h-px data-[orientation=horizontal]:w-full data-[orientation=vertical]:h-full data-[orientation=vertical]:w-px {{ .class }}"
></div>
